{{ form_start(form) }}
    <p>
        {{ form_row(form.photo)}}
        {# <div id='photo'></div> #}
        {# <script>
                let photo = document.getElementById('photo');
                let photos = document.getElementById('tirage_photo_photo');
                
                console.log(photos.value)
                photos.addEventListener('click', function(){
                    photos.addEventListener("change", () => {
                        photo.innerHTML = photos.value;
                    })
                })
            </script> #}
    </p>
    {{ form_row(form.tirage)}}
    <div id='prix' class='text-end'></div>
    {% if (tirage != 'Tirage Identite')%}
        {{ form_row(form.options)}}
    {% endif %}
    
    <button class="btn btn-outline-danger">{{ button_label|default('Je crée')}}</button>

    
        <script>
            let prix = document.getElementById('prix');
            let tirages = document.getElementById('tirage_photo_tirage');
            let identite = document.getElementById('tirage_photo_identite_tirage');

           
            tirages.addEventListener('click', function(){
                tirages.addEventListener("change", () => {
                    if({{idtirage[0]['id']}} == tirages.value){
                        prix.innerHTML = {{idtirage[0]['prix']}} +' €'
                        
                    
                    }
                    if({{idtirage[1]['id']}} == tirages.value){
                        prix.innerHTML = {{idtirage[1]['prix']}} +' €'
                        
                    
                    }
                    if({{idtirage[2]['id']}} == tirages.value){
                        prix.innerHTML = {{idtirage[2]['prix']}} +' €'
                        
                    
                    }
                    if({{idtirage[3]['id']}} == tirages.value){
                        prix.innerHTML = {{idtirage[3]['prix']}} +' €'
                        
                    
                    }
                    })
            
            })
            
            
            //if({{tirage}} ='Tirage Identite'){
            //identite.addEventListener('click', function(){
                //identite.addEventListener("change", () => {
                    //if({{idtirage[4]['id']}} == identite.value){
                        //prix.innerHTML = {{idtirage[4]['prix']}} +' €'
                        
                    
                    //}
                    //if({{idtirage[5]['id']}} == identite.value){
                        //prix.innerHTML = {{idtirage[5]['prix']}} +' €'
                        
                    
                   // }
                    //if({{idtirage[6]['id']}} == identite.value){
                     //   prix.innerHTML = {{idtirage[6]['prix']}} +' €'
                        
                    
                    //}
                    
                    //})
            
            //})
            //}
            
        </script>

        
{{ form_end(form) }}
