{% extends 'base.html.twig' %}

{% block title %}TiragePhoto{% endblock %}

{% block body %}
    <h1 class='text-center'>Les photos</h1>

    {# <table class="table">
        <tbody>
            <tr>
                <th>Photo</th> #}
                {# <td>{{ tirage_photo.id }}</td> #}
            {# </tr> #}
            {# {% for photo in tirage_photo.photos %} #}
                
            
            {# <tr> #}
                {# <th>QuantiteTirage</th> #}
                {# <td><img src="{{ asset('uploads/tirage/' ~ photo.photo) }}" class="card-img-top rounded shadow-sm" alt="tirage" id='photo_tirage'></td>
            </tr>
            {% endfor %}
        </tbody>
    </table> #}
    <div class='row'>
    <div class='col-12'>
        {% if not tirage_photo.photos is empty %}
            <hr>
            
                <div class='d-flex flex-wrap'>
                {% for photo in tirage_photo.photos %}
                    <div class='m-2 position-relative'>
                        <div>
                        <img src="{{ asset('uploads/tirage/' ~ photo.photo) }}"  alt="tirage" id='photo_tirage' class='"card-img-top Regular shadow rounded'>
                        </div>
                        <div class='position-absolute top-0 end-0' id='delete'>
                            {{ include('photo/_delete_form.html.twig') }}
                        </div>
                    </div>
                {% endfor %}
                </div>
            <hr>
            <div>
                <a href="{{path('app_tirage_photo_index', {'tirage' : tirage})}}">Retourner</a>
            </div>
        {% endif %}
    </div>
   
</div> 


    <a href="{{ path('app_tirage_photo_edit', {'id': tirage_photo.id}) }}">edit</a>

    {{ include('tirage_photo/_delete_form.html.twig') }}
{% endblock %}
