<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %} PIXPHOTO 
			{% endblock %}
		</title>
        <!-- logo dans l'onglet des navigateurs -->
        <link rel="icon" type="image/png" sizes="16x16" href="/images/logo/pix.png">
		<!-- CDN fontawesome-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!-- CSS only -->
		<href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- JavaScript Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		<!-- font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Elsie&family=Montserrat:wght@400;500&family=Song+Myung&display=swap" rel="stylesheet">
		
		{% block stylesheets %}
		
			<link rel="stylesheet" href="{{ asset('css/normalize.css') }}" type="text/css"/>
			<link rel="stylesheet" href="{{ asset('css/general.css') }}" type="text/css"/>
			<link rel="stylesheet" href="{{ asset('css/tiles.css') }}" type="text/css"/>
			{# <link rel="stylesheet" href="{{ asset('css/tirage.css') }}" type="text/css"/> #}
			<!-- ce tags il va automatiquement compiler le css qui fait référence au app.css -->
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
        {% block javascripts %}
			<script src="{{ asset('js/menu.js') }}"></script>

			<!-- ce tags il va automatiquement compiler le css qui fait référence au app.js -->
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

        {% include "base/nav.html.twig" %}

		<main class='container-fluid'>
                {% block body %}{% endblock %}
		</main>

        {% include "base/footer.html.twig" %}		
	</body>
</html>
