{{ form_start(form) }}
     {# {{ form_widget(form) }}  #}

    
        {{ form_row(form.photo)}}
    
    
        {{ form_row(form.impression)}}
        
    
    
        {{ form_row(form.decoMurale)}}
        
    
    <div class='d-flex'>
        {{ form_row(form.couleur)}}
        <div class='ps-2 pt-2' id='couleurs'></div>
    </div>
    <div class='text-end' id='prix'></div>
    <button class="btn btn-outline-danger">{{ button_label|default('je crée') }}</button>

{{ form_end(form) }}
