{% extends 'base.html.twig' %}

{% block title %}DecoMuralePhoto{% endblock %}

{% block body %}
    <h1>DecoMuralePhoto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ deco_murale_photo.id }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ deco_murale_photo.dateCreation ? deco_murale_photo.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_deco_murale_photo_index') }}">back to list</a>

    <a href="{{ path('app_deco_murale_photo_edit', {'id': deco_murale_photo.id}) }}">edit</a>

     {{ include('deco_murale_photo/_delete_form.html.twig') }}
{% endblock %}
